$Back-color: #FFFFFF;
$Text-color: #374151;
$Title-color: #991B1B;
$Disc-color: #F0F6FF;
$Back2-color: #FEF2F2;

// $Back-color: #D4E0BD;
// $Text-color: #374151;
// $Title-color: #1D5136;
// $Disc-color: #374151;
// $Back2-color: #1D5136;
// $Question-color: #D7EC84;

// $Back-color: #F3E7DB;
// $Text-color: #374151;
// $Title-color: #374151;
// $Disc-color: #374151;
// $Back2-color: #6F8083;
// $Question-color: #57A6B4;

// $Back-color: #E3DAD2;
// $Text-color: #374151;
// $Title-color: #374151;
// $Disc-color: #374151;
// $Back2-color: #4C3932;
// $Question-color: #C16746;

.Section4{
    margin-bottom: 32px;
    position: relative;
    padding: 0px 17px;
    overflow: hidden;
}
.Section4__title{
    color: $Title-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    text-align: center;
    margin: 0px;
}

.Section4__slider {
    display: flex;
    overflow: hidden; /* Ẩn các ảnh nằm ngoài slider */
    position: relative;
    height: 70vh;
    margin-bottom: 24px;

    &__image {
        height: 100%;
        min-width: 100%;
        flex-shrink: 0;
        transition: transform 0.5s ease-in-out;
        background-size: cover;
        background-position: center;
    }
}
.Section4__pagi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;

    &__dot {
        width: 12px;
        height: 12px;
        background-color: #cfd2d7;
        border-radius: 50%;
        margin: 0px 8px;
        transition: background-color 0.3s ease;
    
        &.active {
            background-color: $Title-color;
        }
    }
}

.Section4__text__inner {
    display: block; /* Hiển thị đoạn text hiện tại */
}


.Section4__next {
    width: 40px;
    height: 40px;
    background-color: $Title-color;
    border-radius: 50%;
    right: 30px;
    top: 220px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;

    &:hover {
        background-color: darken($Title-color, 10%);
    }
}
