.Section4__slider {
    display: flex;
    overflow: hidden; /* Ẩn các ảnh nằm ngoài slider */
    position: relative;
    height: 50vh;
    margin-bottom: 24px;

    &__image {
        height: 100%;
        min-width: 100%;
        flex-shrink: 0;
        transition: transform 0.5s ease-in-out;
        background-size: cover;
        background-position: center;
    }
}

