// $Back-color: #FFFFFF;
// $Text-color: #374151;
// $Title-color: #991B1B;
// $Disc-color: #F0F6FF;
// $Back2-color: #FEF2F2;

// $Back-color: #D4E0BD;
// $Text-color: #374151;
// $Title-color: #1D5136;
// $Disc-color: #374151;
// $Back2-color: #1D5136;
// $Question-color: #D7EC84;

$Back-color: #F3E7DB;
$Text-color: #374151;
$Title-color: #374151;
$Disc-color: #374151;
$Back2-color: #6F8083;
$Question-color: #57A6B4;

.Section4__slider {
    display: flex;
    overflow: hidden; /* Ẩn các ảnh nằm ngoài slider */
    position: relative;
    height: 50vh;
    margin-bottom: 24px;

    &__image {
        height: 100%;
        min-width: 100%;
        flex-shrink: 0;
        transition: transform 0.5s ease-in-out;
        background-size: cover;
        background-position: center;
    }
}

