//RedMode-
$RedMode-Back-color: #FFFFFF;
$RedMode-Text-color: #374151;
$RedMode-Title-color: #991B1B;
$RedMode-Disc-color: #EEE;
$RedMode-Back2-color: #FEF2F2;
$RedMode-Question-background: #FEF2F2;
$RedMode-Question-color: #F66E5B;

//GreenMode-
$GreenMode-Back-color: #D4E0BD;
$GreenMode-Text-color: #374151;
$GreenMode-Title-color: #1D5136;
$GreenMode-Disc-color: #374151;
$GreenMode-Back2-color: #1D5136;
$GreenMode-Question-background: #FEF2F2;
$GreenMode-Question-color: #D7EC84;

//BlueMode
$BlueMode-Back-color: #F3E7DB;
$BlueMode-Text-color: #374151;
$BlueMode-Title-color: #374151;
$BlueMode-Disc-color: #374151;
$BlueMode-Back2-color: #6F8083;
$BlueMode-Question-color: #57A6B4;
$BlueMode-Question-background: #FEF2F2;

//BrownMode
$brownMode-Back-color: #E3DAD2;
$brownMode-Text-color: #374151;
$brownMode-Title-color: #4C3932;
$brownMode-Disc-color: #374151;
$brownMode-Back2-color: #4C3932;
$brownMode-Question-background: #FEF2F2;
$brownMode-Question-color: #C16746;

.redMode{
    .Section5{
        display: flex;
        width: 100%;
        background-color: $RedMode-Back2-color;
        padding: 32px 0px;
        margin-bottom: 56px;
    
        &__inner{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            &__textImage{
                margin-top: -8px;
                text-align: center;
                font-size: 12px;
                line-height: 130%; /* 15.6px */
                font-weight: 400;
            }
    
            &__title{
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 30px */
                text-align: center;
                margin-bottom: 24px;
                color: $RedMode-Title-color;
                text-transform: uppercase;
                width: 100%;
            }
            &__disc{
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 24px */
                margin-bottom: 16px;
                width: 100%;
            }
            &__mainText{
                font-style: italic;
                font-weight: 700;
                line-height: 130%; /* 18.2px */
                margin-top: 16px;
                width: 100%;
            }
            &__text{
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
    
                ul{
                    margin: 0px;
                }
            }
            &__image{
                width: 70%;
                height: auto;
                margin-bottom: 24px;
                margin-top: 24px;
            }
            &__mainText2{
                margin-top: 16px;
                line-height: 130%; /* 18.2px */
                width: 100%;
            }
            &__text2{
                margin-top: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
            &__image2{
                width: 100%;
                height: 40vh;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}
.greenMode{
    .Section5{
        display: flex;
        width: 100%;
        background-color: $GreenMode-Back2-color;
        color: white;
        padding: 32px 0px;
        margin-bottom: 56px;
    
        &__inner{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            &__textImage{
                margin-top: -8px;
                text-align: center;
                font-size: 12px;
                line-height: 130%; /* 15.6px */
                font-weight: 400;
            }
    
            &__title{
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 30px */
                text-align: center;
                margin-bottom: 24px;
                color: white;
                text-transform: uppercase;
                width: 100%;
            }
            &__disc{
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 24px */
                margin-bottom: 16px;
                width: 100%;
            }
            &__mainText{
                font-style: italic;
                font-weight: 700;
                line-height: 130%; /* 18.2px */
                margin-top: 16px;
                width: 100%;
            }
            &__text{
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
    
                ul{
                    margin: 0px;
                }
            }
            &__image{
                width: 70%;
                height: auto;
                margin-bottom: 24px;
                margin-top: 24px;
            }
            &__mainText2{
                margin-top: 16px;
                line-height: 130%; /* 18.2px */
                width: 100%;
            }
            &__text2{
                margin-top: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
            &__image2{
                width: 100%;
                height: 40vh;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}
.blueMode{
    .Section5{
        display: flex;
        width: 100%;
        background-color: $BlueMode-Back2-color;
        color: white;
        padding: 32px 0px;
        margin-bottom: 56px;
    
        &__inner{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            &__textImage{
                margin-top: -8px;
                text-align: center;
                font-size: 12px;
                line-height: 130%; /* 15.6px */
                font-weight: 400;
            }
    
            &__title{
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 30px */
                text-align: center;
                margin-bottom: 24px;
                color: white;
                text-transform: uppercase;
                width: 100%;
            }
            &__disc{
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 24px */
                margin-bottom: 16px;
                width: 100%;
            }
            &__mainText{
                font-style: italic;
                font-weight: 700;
                line-height: 130%; /* 18.2px */
                margin-top: 16px;
                width: 100%;
            }
            &__text{
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
    
                ul{
                    margin: 0px;
                }
            }
            &__image{
                width: 70%;
                height: auto;
                margin-bottom: 24px;
                margin-top: 24px;
            }
            &__mainText2{
                margin-top: 16px;
                line-height: 130%; /* 18.2px */
                width: 100%;
            }
            &__text2{
                margin-top: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
            &__image2{
                width: 100%;
                height: 40vh;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}
.brownMode{
    .Section5{
        display: flex;
        width: 100%;
        background-color: $brownMode-Back2-color;
        color: white;
        padding: 32px 0px;
        margin-bottom: 56px;
        margin-top: 56px;
    
        &__inner{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            &__textImage{
                margin-top: -8px;
                text-align: center;
                font-size: 12px;
                line-height: 130%; /* 15.6px */
                font-weight: 400;
            }
    
            &__title{
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 30px */
                text-align: center;
                margin-bottom: 24px;
                color: white;
                text-transform: uppercase;
                width: 100%;
            }
            &__disc{
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 24px */
                margin-bottom: 16px;
                width: 100%;
            }
            &__mainText{
                font-style: italic;
                font-weight: 700;
                line-height: 130%; /* 18.2px */
                margin-top: 16px;
                width: 100%;
            }
            &__text{
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
    
                ul{
                    margin: 0px;
                }
            }
            &__image{
                width: 70%;
                height: auto;
                margin-bottom: 24px;
                margin-top: 24px;
            }
            &__mainText2{
                margin-top: 16px;
                line-height: 130%; /* 18.2px */
                width: 100%;
            }
            &__text2{
                margin-top: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
            &__image2{
                width: 100%;
                height: 40vh;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }
}
@media (max-width: 661.98px){
    .Section5__inner__title{
        font-size: 20px !important;
    }
    .Section5__inner__image{
        width: 100% !important;
    }
}