@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$logoFont: "Montserrat", serif;

.header{
    background-color: #F3E7DB;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 16px 0px;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        a{
            text-decoration: none;
        }

        &__logo{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 80px;
                height: auto;
                margin-right: 4px;
            }

            &__text{
                font-family: $logoFont;
                color: var(--Braning-1, #8F3124);
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%; /* 36px */
            }
        }
        &__menu{
            display: flex;
            align-items: center;

            div{
                margin-left: 32px;
                color: #374151;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 18.2px */
                padding: 4px 0px;
                transition: all ease-in 0.1s;
                cursor: pointer;

                &:hover{
                    border-bottom: #8F3124 2px solid;
                    transition: all ease-in 0.1s;
                    color: #8F3124;
                    font-weight: 600;
                }
            }

        }
    }
}