// $Back-color: #FFFFFF;
// $Text-color: #374151;
// $Title-color: #991B1B;
// $Disc-color: #F0F6FF;
// $Back2-color: #FEF2F2;

// $Back-color: #D4E0BD;
// $Text-color: #374151;
// $Title-color: #1D5136;
// $Disc-color: #374151;
// $Back2-color: #1D5136;
// $Question-color: #D7EC84;

$Back-color: #F3E7DB;
$Text-color: #374151;
$Title-color: #374151;
$Disc-color: #374151;
$Back2-color: #6F8083;
$Question-color: #57A6B4;

.Section6{
    width: 100%;
    display: flex;
    margin-top: 42px;

    &__inner{
        width: 100%;
        display: flex;
        flex-direction: column;

        &__title{
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
            color: $Title-color;
            text-align: center;
            margin-bottom: 24px;
        }
        &__box{
            border-left: 4px solid $Title-color;
            padding: 0px 10px;

            &__inner{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__circle{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: $Title-color;
                    position: absolute;
                    top: -8px;
                    left: -20px;
                }

                &__image{
                    width: 50%;
                    height: 147px;
                }
                &__text{
                    width: 50%;
                    margin-left: 16px;

                    &__title{
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 24px */
                        margin-bottom: 16px;
                    }
                    &__disc{
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 700;
                        line-height: 130%; /* 18.2px */
                        margin-bottom: 8px;
                    }
                    &__text{
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 18.2px */
                    }
                }
            }
        }
    }
}