//Hue
$Back-color: #FFFFFF;
$Text-color: #374151;
$Title-color: #991B1B;
$Disc-color: #EEE;
$Back2-color: #FEF2F2;

//TrangAn
// $Back-color: #D4E0BD;
// $Text-color: #374151;
// $Title-color: #1D5136;
// $Disc-color: #374151;
// $Back2-color: #1D5136;

//Mau
// $Back-color: #F3E7DB;
// $Text-color: #374151;
// $Title-color: #374151;
// $Disc-color: #374151;
// $Back2-color: #6F8083;
// $Question-color: #57A6B4;

//BiaTienSi
// $Back-color: #E3DAD2;
// $Text-color: #374151;
// $Title-color: #374151;
// $Disc-color: #374151;
// $Back2-color: #4C3932;
// $Question-color: #C16746;

a{
    text-decoration: none;
}

.Footer{
    background-color: $Title-color;
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;

    &__inner{
        padding: 32px 0px;
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
            width: 120px;
            margin-left: -10px;
            height: auto;
        }

        &__title{
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
            margin-top: 32px;
            color: white;
        }
        &__disc{
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            color: $Disc-color;
            margin-top: 8px;
            color: white;
        }
        &__icon{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;

            svg{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 20px;
            }
        }
    }
    &__copy{
        background-color: white;
        display: flex;
        width: 100%;
        padding: 4px 16px;

        &__inner{
            color: $Text-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 130%; /* 15.6px */
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;

            &__text{
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px){
    .Footer{
        &__inner{
            flex-direction: row;
        }
    }
}